<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <section id="home">
      <div class="container">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet.</p>

        <svg
          viewBox="0 0 619 409"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_17_2)">
            <path d="M82.4497 0H0L157.944 408H233L82.4497 0Z" fill="black" />
            <path d="M308.55 0H391L233.056 408H158L308.55 0Z" fill="black" />
            <path
              d="M536.665 0H618.957L459.912 407.642H385L536.665 0Z"
              fill="black" />
            <path
              d="M438.323 135.875H565.5L536.766 208.535H409.996L438.323 135.875Z"
              fill="black" />
          </g>
          <defs>
            <clipPath id="clip0_17_2">
              <rect width="619" height="408" fill="white" />
            </clipPath>
          </defs>
        </svg>

        <div class="mouse">
          <i class="bx bx-mouse"></i>
          <i class="bx bx-down-arrow-alt"></i>
        </div>
      </div>
    </section>

    <section class="reveal" id="contact">
      <div class="container">
        <h2 title_="Send a message">Send a message</h2>

        <form action="/contact/" method="POST">
          <!-- <label for="name">Name</label> -->
          <input
            name="name"
            id="name"
            type="text"
            autocomplete="off"
            placeholder="Name and Surname"
            required />
          <!-- <label for="phone">Phone</label> -->
          <input
            name="email"
            id="email"
            type="email"
            placeholder="example@gmail.com"
            autocomplete="off"
            required />
          <!-- <label for="message">Message</label> -->
          <textarea
            name="message"
            id="message"
            autocomplete="off"
            placeholder="Hi. I would like to order a website."
            required></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </section>

    <%- include("./partials/footer.ejs",{links}) %>
  </body>
</html>
