<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <section id="single-blog">
      <div class="container">
        <img src="/img/profilephoto.jpg" alt="Vusal Huseynov" />
        <h2>When I started to codding?</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Necessitatibus tempore, blanditiis tempora perspiciatis deleniti nulla
          velit esse dolorum ut qui expedita beatae assumenda? Ea animi
          accusamus modi optio odio. Similique mollitia fuga suscipit tempore
          non odit, ullam molestiae, minus distinctio amet velit expedita natus,
          pariatur porro maxime possimus fugit commodi reiciendis! Quibusdam
          consequuntur dolorem accusantium iusto. Quasi quidem, cum et eaque id
          reiciendis exercitationem reprehenderit necessitatibus aliquid iusto
          in optio obcaecati accusantium odio delectus, dolorum laboriosam
          quaerat nesciunt blanditiis tempora doloremque. Labore soluta saepe,
          dolore veniam iste, odio expedita recusandae modi unde itaque vitae
          quo? Vitae doloremque necessitatibus impedit commodi?
        </p>
      </div>
    </section>

    <script src="/js/nav.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
