$black: #151515;
$dark: #303030;
$gray: #808080;
$light-gray: #aaa;
$white: #fff;
$link: rgb(0, 140, 255);
$blue: rgb(37, 64, 151);
$green: rgb(51, 201, 131);
$red: rgba(255, 0, 0, 0.9);
$dark-shadow: rgba(0, 0, 0, 0.05);
$dark-blue: #121e2a;
