@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 80%;
  margin: 0 10%;
}
@media screen and (max-width: 1124px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 525px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  transition: 200ms ease-in-out;
}
header nav.scrolled {
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .container .logo {
  opacity: 0.9;
}
header nav .container .logo svg {
  height: 25px;
}
header nav .container img {
  height: 30px;
}
header nav .container .hamburger {
  cursor: pointer;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1rem;
  transition: 300ms ease-in-out;
}
header nav .container .hamburger.active div.line-1 {
  transform: rotate(45deg) translateY(6.5px);
}
header nav .container .hamburger.active div.line-2 {
  transform: rotate(-45deg) translateY(-6.5px);
}
header nav .container .hamburger div {
  left: 0;
  height: 2px;
  width: 100%;
  background: #303030;
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 1024px) {
  header nav .container .hamburger {
    display: flex;
  }
}
header nav .container ul {
  display: flex;
}
header nav .container ul li button {
  outline: none;
  border: none;
  padding: 0;
  background: none;
  font-size: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #808080;
  transition: 300ms ease-in-out;
}
header nav .container ul li button:hover {
  color: #303030;
}
header nav .container ul li a {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #808080;
  font-weight: 500;
  transition: 200ms ease-in-out;
}
header nav .container ul li a:hover, header nav .container ul li a.active {
  color: #303030;
}
header nav .container ul li a.active {
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  header nav .container ul {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 300ms ease-in-out;
  }
  header nav .container ul li {
    margin: 1rem 0;
    transform: translateX(-40%);
    opacity: 0;
    transition: 300ms ease-in-out;
  }
  header nav .container ul li:nth-child(2) {
    transition-delay: 20ms;
  }
  header nav .container ul li:nth-child(3) {
    transition-delay: 40ms;
  }
  header nav .container ul li:nth-child(4) {
    transition-delay: 60ms;
  }
  header nav .container ul li:nth-child(5) {
    transition-delay: 80ms;
  }
  header nav .container ul li:nth-child(6) {
    transition-delay: 100ms;
  }
  header nav .container ul li:nth-child(7) {
    transition-delay: 120ms;
  }
  header nav .container ul li a {
    font-size: 1.1rem;
  }
  header nav .container ul.active {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
  }
  header nav .container ul.active li {
    transform: translateX(0);
    opacity: 1;
  }
  header nav .container ul.active li a {
    font-weight: 300;
  }
  header nav .container ul.active li a.active {
    font-weight: 500;
  }
}

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#home h1,
#home p {
  text-align: center;
}
#home h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 1px #303030;
  font-family: "Ubuntu", sans-serif;
}
@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 525px) {
  #home h1 {
    font-size: 2.5rem;
  }
}
#home p {
  color: #303030;
  font-size: 1rem;
}
#home svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  opacity: 0.3;
}
#home svg path {
  fill: transparent;
  stroke: #808080;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}
#home .mouse {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #303030;
  -webkit-animation: 1s move-mouse linear infinite;
          animation: 1s move-mouse linear infinite;
}
@-webkit-keyframes move-mouse {
  0% {
    transform: translate(-50%, 0);
  }
  25% {
    transform: translate(-50%, -10%);
  }
  50% {
    transform: translate(-50%, 0);
  }
  75% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes move-mouse {
  0% {
    transform: translate(-50%, 0);
  }
  25% {
    transform: translate(-50%, -10%);
  }
  50% {
    transform: translate(-50%, 0);
  }
  75% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#videos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#videos .container iframe {
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  margin-top: 5rem;
}

#courses p {
  text-align: center;
  padding: 0 1rem;
}
#courses .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem 2rem;
}
@media screen and (max-width: 1024px) {
  #courses .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #courses .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 525px) {
  #courses .container {
    grid-template-columns: 1fr;
  }
}
#courses .container .course {
  margin: 2rem 0;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}
#courses .container .course img {
  width: 100%;
}
#courses .container .course h3, #courses .container .course p, #courses .container .course a {
  display: block;
  margin: 0.5rem 1rem;
  padding: 0;
}
#courses .container .course p {
  text-align: left;
  color: #808080;
  font-weight: 300;
}
#courses .container .course a {
  color: rgb(0, 140, 255);
  margin-bottom: 1rem;
}

#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .container h2 {
  margin-bottom: 3rem;
}
#contact .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  #contact .container form {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  #contact .container form {
    width: 60%;
  }
}
#contact .container form label {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
#contact .container form input,
#contact .container form textarea,
#contact .container form button {
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #303030;
  font-size: 1rem;
  color: #303030;
  margin-bottom: 1rem;
  width: 100%;
}
#contact .container form textarea {
  resize: vertical;
  width: 100%;
}
#contact .container form button {
  background: none;
  font-weight: 500;
  transition: 300ms ease-in-out;
  margin-top: 1rem;
}
#contact .container form button:hover {
  background: #303030;
  color: #fff;
}

#knowledge .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#knowledge .container p.main {
  margin-bottom: 5rem;
}
#knowledge .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
#knowledge .container .box h2 {
  margin-bottom: 3rem;
}
#knowledge .container .box picture {
  position: relative;
}
#knowledge .container .box picture::before {
  content: attr(sub_title);
  white-space: nowrap;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  font-weight: 500;
  background: #303030;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;
}
#knowledge .container .box picture:hover::before {
  opacity: 1;
  top: 0;
}
#knowledge .container .box picture img {
  max-width: 80px;
  margin: 2rem 0;
}
@media screen and (max-width: 768px) {
  #knowledge .container .box picture img {
    max-width: 60px;
  }
}

#projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .container p.main {
  margin-bottom: 3rem;
}
#projects .container .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #303030;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
#projects .container .box img {
  max-width: 500px;
  width: 100%;
  transition: 300ms ease-in-out;
}
#projects .container .box img:hover {
  transform: scale(1.2) rotate(-5deg);
}
#projects .container .box .info {
  padding: 1rem;
  background: #fff;
  z-index: 1;
  width: 100%;
}
#projects .container .box .info p {
  color: #808080;
  font-weight: 400;
  font-size: 0.9rem;
}
#projects .container .box .info h4 {
  font-weight: 500;
  font-size: 1rem;
}

#blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#blog .container p.main {
  margin-bottom: 3rem;
}
#blog .container .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #303030;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
#blog .container .box img {
  max-width: 500px;
  width: 100%;
  transition: 300ms ease-in-out;
}
#blog .container .box img:hover {
  transform: scale(1.2) rotate(-5deg);
}
#blog .container .box .info {
  padding: 1rem;
  background: #fff;
  z-index: 1;
  width: 100%;
}
#blog .container .box .info p {
  color: #808080;
  font-weight: 400;
  font-size: 0.9rem;
}
#blog .container .box .info p.read {
  color: rgb(0, 140, 255);
  margin-top: 0.5rem;
}
#blog .container .box .info h4 {
  font-weight: 500;
  font-size: 1rem;
}

#single-blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#single-blog .container img {
  border-radius: 0.5rem;
  width: 30%;
}
@media screen and (max-width: 1024px) {
  #single-blog .container img {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  #single-blog .container img {
    width: 60%;
  }
}
#single-blog .container h2 {
  margin: 1rem 0;
}
#single-blog .container p {
  text-align: justify;
}

#social {
  overflow: hidden;
}
#social .container .link {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#social .container .link img {
  width: 30%;
  margin-bottom: 1rem;
  transition: 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  #social .container .link img {
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  #social .container .link img {
    width: 10%;
  }
}
#social .container .link h3 {
  margin-bottom: 1rem;
  color: #303030;
  font-size: 1.25rem;
}
#social .container .link p {
  margin-bottom: 1rem;
  color: #808080;
}

#admin {
  color: #303030;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
#admin .remove-btn {
  color: #fff !important;
  font-size: 0.9rem !important;
  background: rgba(255, 0, 0, 0.9) !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
#admin nav {
  display: inline-block;
  height: 100%;
  width: 200px;
  padding: 2rem 0.5rem;
  background: rgb(37, 64, 151);
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 525px) {
  #admin nav {
    padding: 0.5rem;
  }
}
#admin nav .container-s {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#admin nav .container-s .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
@media screen and (max-width: 525px) {
  #admin nav .container-s .top {
    display: none;
  }
}
#admin nav .container-s .top img {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.05);
}
#admin nav .container-s .top .hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 40px;
  cursor: pointer;
}
#admin nav .container-s .top .hamburger div {
  height: 2px;
  width: 100%;
  margin: 0.2rem 0;
  background: #fff;
}
#admin nav .container-s a {
  color: #fff;
  align-self: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
#admin nav .container-s a i {
  align-self: center;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 1.1rem;
  height: 25px;
}
#admin nav .container-s ul {
  white-space: nowrap;
  overflow: hidden;
}
#admin nav .container-s ul li {
  position: relative;
  display: flex;
  margin: 0.75rem 0;
  width: 100%;
}
@media screen and (max-width: 525px) {
  #admin nav .container-s ul li:first-child {
    margin: 0;
  }
}
#admin nav .container-s ul li a {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
#admin nav .container-s ul li a.active, #admin nav .container-s ul li a:hover {
  color: rgb(37, 64, 151);
  background: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}
#admin nav.active {
  width: 4rem;
  transition: 300ms ease-in-out;
}
#admin nav.active .container-s .top {
  justify-content: center;
  padding: 0;
}
#admin nav.active .container-s .top img {
  display: none;
}
#admin nav.active .container-s ul li a {
  padding: 0.5rem 0;
}
#admin nav.active .container-s a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin nav.active .container-s a i {
  padding: 0;
  margin: 0;
}
#admin nav.active .container-s a span {
  display: none;
}
#admin #content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
#admin #content form.form {
  display: flex;
  flex-direction: column;
}
#admin #content form.form h4 {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.1rem;
}
#admin #content form.form input,
#admin #content form.form textarea {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(37, 64, 151);
  outline: none;
  resize: vertical;
  color: #303030;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
#admin #content form.form input[type=file],
#admin #content form.form textarea[type=file] {
  resize: none;
}
#admin #content form.form input::-webkit-file-upload-button, #admin #content form.form textarea::-webkit-file-upload-button {
  background-color: rgb(37, 64, 151);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "Poppins", sans-serif;
}
#admin #content form.form input::file-selector-button,
#admin #content form.form textarea::file-selector-button {
  background-color: rgb(37, 64, 151);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "Poppins", sans-serif;
}
#admin #content form.form button {
  border: none;
  outline: none;
  background-color: rgb(37, 64, 151);
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
}
#admin #content .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  background: #fff;
  color: rgb(37, 64, 151);
  cursor: default;
}
#admin #content .link h5 {
  font-weight: 400;
  font-size: 1rem;
}
#admin #content h3 {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.25rem;
}
#admin #content details {
  cursor: pointer;
  margin-top: 1rem;
}
#admin #content details summary {
  display: flex;
  align-items: center;
  background: rgb(37, 64, 151);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
#admin #content details summary i {
  margin-right: 0.25rem;
  font-size: 1.25rem;
  transition: 300ms ease-in-out;
}
#admin #content details div {
  background: rgba(37, 64, 151, 0.25);
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
#admin #content details[open] summary i {
  transform: rotate(90deg);
}
#admin #content .container-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 0 1rem;
  margin: 0;
}
#admin #content #messages {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#admin #content #messages .message {
  border: 1px solid rgb(37, 64, 151);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 80%;
}
#admin #content #messages .message h3 {
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgb(37, 64, 151);
  border-bottom: 1px solid rgb(37, 64, 151);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#admin #content #messages .message h3 form button {
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 0.9);
  border: none;
  outline: none;
  background: none;
}
#admin #content #messages .message p {
  color: #808080;
  font-weight: 300;
}
#admin #content #messages .message p.email {
  color: rgb(37, 64, 151);
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}
#admin #content #messages .message p.email::-moz-selection {
  background: rgb(37, 64, 151);
  color: #fff;
}
#admin #content #messages .message p.email::selection {
  background: rgb(37, 64, 151);
  color: #fff;
}
#admin #content #customize {
  padding: 0;
  margin: 0;
}

#thanks {
  height: 100%;
}
#thanks .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .container-s {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  padding: 0 1rem;
}
#login .container-s .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#login .container-s .bottom span {
  color: rgb(37, 64, 151);
}
#login .container-s .bottom span.red {
  color: rgba(255, 0, 0, 0.9);
}
#login .container-s h2 {
  text-align: center;
  padding-bottom: 1rem;
  color: rgb(37, 64, 151);
  font-size: 2rem;
  font-weight: 600;
}
#login .container-s p {
  margin-bottom: 0.5rem;
}
#login .container-s .disabled {
  opacity: 0.5;
  pointer-events: none;
}
#login .container-s a {
  color: rgb(37, 64, 151);
  font-weight: 300;
}
#login .container-s form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#login .container-s form div {
  display: flex;
  flex-direction: column;
}
#login .container-s form div button {
  align-self: flex-start;
}
#login .container-s form input {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(37, 64, 151);
  outline: none;
  color: #303030;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
#login .container-s form input[type=file] {
  resize: none;
}
#login .container-s form input::-webkit-file-upload-button {
  background-color: rgb(37, 64, 151);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "Poppins", sans-serif;
}
#login .container-s form input::file-selector-button {
  background-color: rgb(37, 64, 151);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "Poppins", sans-serif;
}
#login .container-s form button {
  border: none;
  outline: none;
  background-color: rgb(37, 64, 151);
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  margin: 1rem 0;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.youtube {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 0, 0, 0.9);
  color: rgba(255, 0, 0, 0.9);
  font-weight: 500;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: 300ms ease-in-out;
}
.youtube:hover {
  background: rgba(255, 0, 0, 0.9);
  color: #fff;
}
.youtube:hover img {
  transform: rotateY(-180deg);
}
.youtube img {
  transition-delay: 300ms;
  transform-origin: center;
  transition: 300ms ease-in-out;
  border-radius: 50%;
  margin-left: 1rem;
}

section,
footer {
  padding: 5rem 0;
  overflow: hidden;
}
section p.main,
footer p.main {
  text-align: center;
}
section h2,
footer h2 {
  position: relative;
  text-align: center;
  font-size: 1.75rem;
  color: #151515;
}
section h2::before,
footer h2::before {
  content: attr(title_);
  -webkit-text-stroke: 0.5px #808080;
  color: transparent;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -9;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.reveal {
  opacity: 0;
  transform: translate(0, 10%);
  transition: 300ms ease-in-out;
}
.reveal.reveal-active {
  opacity: 1;
  transform: translate(0, 0);
}

.alert {
  position: fixed;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  color: #303030;
  background: #fff;
  transition: 300ms ease-in-out;
  white-space: nowrap;
  font-size: 1rem;
}
@media screen and (max-width: 525px) {
  .alert {
    font-size: 0.75rem;
  }
}
.alert i {
  font-size: 1.25rem;
  margin-right: 1rem;
  transform: scale(0);
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 525px) {
  .alert i {
    font-size: 1rem;
    margin-right: 0.75rem;
  }
}
.alert i.red {
  color: rgba(255, 0, 0, 0.9);
}
.alert i.green {
  color: rgb(51, 201, 131);
}
.alert.active {
  top: 1rem;
}
.alert.active i {
  transform: scale(1);
}/*# sourceMappingURL=main.css.map */